@media screen and (max-width: 768px) {
		#bloque1{ 
		
				display:flex;
				justify-content: center;
				align-items: center;
				background-color: blue;
				height:150px;
				border: 2px solid Yellow;
		  } 
		  
		#bloque2{ 
				
				display:flex;
				justify-content: center;
				align-items: center;
				background-color: cyan;
				height:150px;
				border: 2px solid Yellow;
		  }
		  
		#bloque3{ 
				display:flex;
				justify-content: center;
				align-items: center;
		        background-color: blue;
		        height:150px;
		        border: 2px solid Yellow;
        }  
		#bloque4{ 
		         display:flex;
				justify-content: center;
				align-items: center;
		        background-color:LightSkyBlue ;
		    
		        border: 2px solid Yellow;   			
		        
        }  
		#bloque5{ 
		       display:flex;
				justify-content: center;
				align-items: center;
		        background-color:CornflowerBlue ;
		    
		        border: 2px solid Yellow;    
		      
        }  
		
		#bloque6{ 
		      display:flex;
				justify-content: center;
				align-items: center;
		        background-color:LightSteelBlue ;
		    
		        border: 2px solid Yellow;   
        }  
		  
		#bloque7{ 
				display:flex;
				justify-content: center;
				align-items: center;
		        background-color:LightSeaGreen ;
		    
		        border: 2px solid Yellow; 
		} 
		  
		#bloque8{ 
				
				 border: 2px solid Yellow;
		} 
  
}

@media screen and (min-width:769px) {
		#bloque1{ 
				display:flex;
				justify-content: center;
				align-items: center;
				background-color: blue;
				height:350px;
				border: 2px solid Yellow;
		  } 
		  
		#bloque2{ 
				
				display:flex;
				justify-content: center;
				align-items: center;
				background-color: cyan;
				height:350px;
				border: 2px solid Yellow;
		  }
		  
		#bloque3{ 
				display:flex;
				justify-content: center;
				align-items: center;
		        background-color: blue;
		        height:350px;
		        border: 2px solid Yellow;
        }  
		#bloque4{ 
				background-color:LightSkyBlue ;
		        .responsive-image {
                 width: 100%;
                 height: auto;
				 object-fit: cover;
				
				}
		}        
		        
          
		#bloque5{ 
				background-color:CornflowerBlue ;
		        .responsive-image {
				width: 100%;
				height: auto;	
				object-fit: cover;
		       }
		}	   
         
		#bloque6{ 
				background-color:LightSteelBlue ;
		        .responsive-image {
                width: 100%;
			    height: auto;
                object-fit: cover;
				}
        }  
		  
		#bloque7{ 
				background-color:LightSeaGreen ;
			   .responsive-image {
                width: 100%;
                height: auto;
                object-fit: cover;
			    }
		}		
		  
		#bloque8{ 
		        
		        border: 2px solid Yellow;
		}
  

}



